<div class="nav2">
    <!-- Example single danger button -->
<div class="btn-group">
    <button type="button" class="btn btn-warning dropdown-toggle" style="float: right; margin-right: 30px;" data-bs-toggle="dropdown" aria-expanded="false">
        <a routerLink="/fashion" routerLinkActive="active"> Fashion </a>
    </button>
    <ul class="dropdown-menu">
      <li><a  routerLink="/fashion/menswear"  class="dropdown-item" routerLinkActive="active"><button type="button" class="btn btn-primary">Mens</button></a></li>
      <li><a  routerLink="/fashion/womenswear"  class="dropdown-item" routerLinkActive="active"> <button type="button" class="btn btn-primary">Womens</button></a></li>
      <li><a  routerLink="/fashion/kids" class="dropdown-item" routerLinkActive="active">  <button type="button" class="btn btn-primary">Kids</button></a></li>
    </ul>
  </div>
  <!-- Example single danger button -->
<div class="btn-group">
    <button type="button" class="btn btn-warning dropdown-toggle" style="float: right; margin-right: 30px;" data-bs-toggle="dropdown" aria-expanded="false">
        <a routerLink="/electronics">Electronics </a>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
  <!-- Example single warning button -->
<div class="btn-group">
    <button type="button" class="btn btn-warning dropdown-toggle" style="float: right; margin-right: 30px;" data-bs-toggle="dropdown" aria-expanded="false">
        <a routerLink="/furniture"> Home & Furniture</a>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">click</a></li>
      <li><a class="dropdown-item" href="#">where action</a></li>
      <li><a class="dropdown-item" href="#">enter </a></li>
    </ul>
  </div>
  <!-- Example single warning button -->
<div class="btn-group">
    <button type="button" class="btn btn-warning dropdown-toggle" style="float: right; margin-right: 30px;" data-bs-toggle="dropdown" aria-expanded="false">
        <a routerLink="/beauty"> Beauty & More </a>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
  <!-- Example single warning button -->
<div class="btn-group">
    <button type="button" class="btn btn-warning dropdown-toggle" style="float: right; margin-right: 30px;" data-bs-toggle="dropdown" aria-expanded="false">
        <a routerLink="/twowheelers">Two Wheelers </a>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>


  <div class="btn-group">
    <button type="button" class="btn btn-warning dropdown-toggle" data-bs-auto-close="outside" style="float: right; margin-right: 30px;" data-bs-toggle="dropdown" aria-expanded="false">
        <a routerLink="/twowheelers">Shapes</a>
    </button>
    <ul class="dropdown-menu">
      <li class="dropstart">
        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Action</a>
        <ul class="dropdown-menu">
          <li><a href="#" class="dropdown-item">ONE</a></li>
          <li><a href="#" class="dropdown-item">TWO</a></li>
          <li><a href="#" class="dropdown-item">THREE</a></li>

        </ul>
      </li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>


  


</div>

