<div class="nav">
    <a routerLink="/home"><img src="https://image.pitchbook.com/tShvxlSqc5whgHOCsyQA5WUh4TK1703172089097_200x200" width="50" height="50">
        </a>
    <a routerLink="/login"><button type="button" class="btn btn-primary" style="float: right; margin-right: 30px;">Login</button>
        </a>
    <a routerLink="/orders"><button type="button" class="btn btn-primary" style="float: right; margin-right: 30px;">Orders</button>
        </a>
    <a routerLink="/cart"><button type="button" class="btn btn-primary" style="float: right; margin-right: 30px;">Cart</button>
        </a>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <a routerLink="/search"><button class="btn btn-primary" type="submit">Search</button></a>
          </form>
        </div>
      </nav>



</div>
